<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit quam blanditiis deserunt voluptatum ullam veniam aut dolor fugit unde a, nemo consequuntur architecto illo commodi delectus temporibus ea eveniet culpa?</p>
        

    </div>

</div>