<div class="jumbotron mt-4">
    <h1 class="display-4">NOTAS APP</h1>
    <p class="lead">lorem</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, pariatur quae suscipit esse repellat minima, unde non animi saepe sed autem molestias nisi exercitationem possimus, vitae eum odit aut tempora.</p>
    <a href="" class="btn btn-primary btn-lg">XixoWEb</a>
</div>